#eureka client配置
eureka.client.serviceUrl.defaultZone: http://admin:prolog00212@192.168.1.21:6001/eureka/,http://admin:prolog00212@192.168.1.22:6001/eureka/


prolog.tx.url: http://192.168.1.21:7000/tx/manager/

spring:
  application.name: service-ai-eis-zjlz-simulator
  #redis配置
  redis:
    cluster:
      nodes: 192.168.1.17:6379,192.168.1.17:6380,192.168.1.18:6379,192.168.1.18:6380,192.168.1.19:6379,192.168.1.19:6380
    password: prolog-redis-0212
    host: 192.168.0.167
    port: 6379
#    password: prolog0212
    database: 0
  #链路跟踪  
  zipkin:
    sender.type: rabbit
    rabbitmq.queue: trace
  sleuth: 
    enabled: true
    sampler: 
      probability: 1.0
  devtools: 
    restart: 
      enabled: true
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://39.96.69.213:3306/zjlz?characterEncoding=utf8&useSSL=false
    username: root
    password: eisalicloud
    initialSize: 0 #初始化大小
    minIdle: 5 #最小空閒
    maxActive: 50 #最大連接數
    maxWait: 60000 #最大等待時間
    minEvictableIdleTimeMillis: 25200000 #最小生存時間
  rabbitmq:
    addresses: 192.168.1.17:5672,192.168.1.18:5672,192.168.1.19:5672
    username: eis
    password: eis
    virtual-host: /eis
    
logging:
  config: classpath:log4j2-dev.xml
