#eureka client配置
eureka.client.serviceUrl.defaultZone: http://admin:prolog00212@10.0.2.135:8761/eureka/
prolog.tx.url: ttp://10.0.2.135:7000/tx/manager/

spring:
  application.name: service-ai-eis-zjlz-simulator
  #redis配置
  redis:
    cluster:
      nodes: 10.0.2.135:6379,10.0.2.135:6380,10.0.2.135:6381,10.0.2.135:6382,10.0.2.135:6383,10.0.2.135:6384
    password: prolog0212
    host: 10.0.2.135
    port: 6379
    #    password: prolog0212
    database: 0
  #链路跟踪
  zipkin:
    sender.type: rabbit
    rabbitmq.queue: trace
  sleuth:
    enabled: true
    sampler:
      probability: 1.0
  devtools:
    restart:
      enabled: true
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://10.0.2.244:3306/plog_eis?characterEncoding=utf8&useSSL=false
    username: root
    password: prolog
    initialSize: 0 #初始化大小
    minIdle: 5 #最小空閒
    maxActive: 50 #最大連接數
    maxWait: 60000 #最大等待時間
    minEvictableIdleTimeMillis: 25200000 #最小生存時間  ,192.168.1.18:5672,192.168.1.19:5672
    remove-abandoned-timeout-millis: 252000000000
  rabbitmq:
    addresses: 10.0.2.135:5672
    username: eis
    password: eis
    virtual-host: /eis_lizhong
    listener:
      direct:
        acknowledge-mode: manual
logging:
  config: classpath:log4j2-dev.xml
